<!DOCTYPE html>
<html>

	<head>
	<title>Blog List</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	</head>

	<body>
	
	<div class="container">
		<% include ./partials/nav %>

		<h1>Blog List</h1>
		<img src="https://i.pinimg.com/736x/15/a0/cf/15a0cf2ec72ca63fa4d8a8b0aca68b43--political-cartoons-kakao.jpg" alt="Page Construction Bear" />
		<p>Under Construction!</p>

	</div>

	</body>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</html>
