<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
	<% include ./partials/nav %>
	
	<p></p>
	<div class="card border-primary" style="width: 50%">
		<form method="post" name="userForm" action="/blogdelete/<%= blog._id %>" style="padding: 20px">
			<div class="form-group">
				<label class="text-primary" for="summary">Blog Title</label>
				<input readonly class="form-control" id="title" name="blog_title" value=<%= blog.blog_title %>>
				<label class="text-primary" for="detail">Blog Text</label>
				<textarea readonly class="form-control" id="text" name="blog_text"><%= blog.blog_text %></textarea>
			</div>
			<input class="btn btn-danger float-right" type="submit" value="Delete Blog">
			<a class="btn btn-primary float-right" style="margin-right: 25px" href="/bloglist" role="button">Cancel</a>
		</form>
	</div>
	</div>
</body>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>
