<!DOCTYPE html>
<html>

<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel="stylesheet" href="/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
	<% include ./partials/nav %>
	
	<p></p>
	<div class="card border-primary" style="width: 50%">
		<form method="post" action="/blogedit/<%= blog._id %>" style="padding: 20px">
			<div class="form-group">
				<label class="text-primary" for="summary">Blog Title</label>
				<input id="title" class="form-control" name="blog_title" value=<%= blog.blog_title %>>
				<label class="text-primary" for="detail">Blog Text</label>
				<textarea id="text" class="form-control" name="blog_text"><%= blog.blog_text %></textarea>
			</div>
			<input class="btn btn-primary" type="submit" value="Save Blog">
		</form>
	</div>
	</div>
</body>

<script src="/js/jquery.min.js">
</script><script src="/js/bootstrap.min.js"></script>

</html>
